<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr> 
            <th>Id</th>
            <th>Nom</th> 
            <th>Prix</th>  
            <th>Date Création</th>
            <th>Style</th> <!-- Changed "Marque" to "Style" -->
          </tr>
        </thead>
        <tbody *ngFor="let lunette of lunettes">
          <tr>
            <td>{{lunette.idLunette}}</td> <!-- Changed "idTv" to "idLunette" -->
            <td>{{lunette.nomLunette}}</td> <!-- Changed "nomTv" to "nomLunette" -->
            <td>{{lunette.prixLunette}}</td> <!-- Changed "prixTv" to "prixLunette" -->
            <td>{{lunette.dateCreation | date:'dd/MM/yyyy' }}</td>
            <td>{{lunette.style.nomSty}}</td> <!-- Changed "marque.nomMar" to "style.nomSty" -->
            <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerLunette(lunette)">Supprimer</a></td>
            <a *ngIf="authService.isAdmin()" [routerLink]="['/update-lunette', lunette.idLunette]" class="btn btn-success">Modifier</a>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
