<div class="container">
  <div>
    <h2>Modifier une Lunette :</h2>
  </div>
  <form (ngSubmit)="updateLunette()" #updateLunetteForm="ngForm">

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Lunette</label>
      <input type="text" [(ngModel)]="currentLunette.idLunette" 
        name="idLunette" class="form-control" required />
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Lunette</label>
      <input type="text" [(ngModel)]="currentLunette.nomLunette" 
        name="nomLunette" class="form-control" required minlength="3" />
      <div *ngIf="updateLunetteForm.submitted && updateLunetteForm.controls['nomLunette']?.touched && !updateLunetteForm.controls['nomLunette']?.valid" class="text-danger">
        Le nom doit comporter au moins 3 caractères.
      </div>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix Lunette</label>
      <input type="number" [(ngModel)]="currentLunette.prixLunette"
        name="prixLunette" class="form-control" required />
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Email</label>
      <input type="email" [(ngModel)]="currentLunette.email"
        name="email" class="form-control" required email />
      <div *ngIf="updateLunetteForm.submitted && updateLunetteForm.controls['email']?.touched && !updateLunetteForm.controls['email']?.valid" class="text-danger">
        Veuillez entrer un email valide.
      </div>
      <div *ngIf="updateLunetteForm.controls['email']?.touched && emailInvalid()" class="text-danger">
        L'email doit contenir '&#64;' et '.com'.
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date création</label>
      <input type="date" [ngModel]="currentLunette.dateCreation | date: 'yyyy-MM-dd'" 
        (ngModelChange)="currentLunette.dateCreation = $event" name="dateCreation"
        class="form-control" required />
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Style</label>
      <select class="form-control form-control-lg" id="idSty" name="idSty"
        [(ngModel)]="updatedStyleId">
        <option *ngFor="let style of styles" [value]="style.idSty">{{style.nomSty}}</option>
      </select>
    </div>

    <div class="mt-2">
      <button type="submit" class="btn btn-success">Modifier</button>
    </div>

  </form>
</div>
